{% extends "base.html" %}

{% block title %}
  <title>Delete {{ manufacturer.name }}</title>
{% endblock %}


{% block content %}
  <h1>Delete manufacturer - {{ manufacturer.name }}</h1>
  <p>Are you sure to delete manufacturer - {{ manufacturer.name }}</p>
  <p><i>Cars in this manufacturer will be deleted too</i></p>
  <div class="d-flex align-items-center">
    <a href="{% url 'taxi:manufacturer-list' %}" class="btn btn-secondary mr-5">Cancel</a>

    <form action="" method="post" class="m-0">
      {% csrf_token %}
      <input type="submit" value="Yes, I am sure" class="btn btn-danger">
    </form>
  </div>
{% endblock %}
